In [2]:
#Q1.

#1.String
str = "Hello, World!"

#2.List
list = [1, 2, 3, 4, 5]

#3.Float
float = 2.45

#4.Tuple
tuple = (1, 2, 3, 4, 5)

In [ ]:
#Q2.

(1) var1 = ‘ ‘: This variable var1 is a string that contains a single space character. It does not contain any other data or characters.

(2) var2 = ‘[ DS , ML , Python]’: This variable var2 is a string that represents a list of three elements: 'DS', 'ML', and 'Python'. However, the elements are enclosed within single quotes, which makes them string literals rather than actual variables or objects.

(3) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]: This variable var3 is a list that contains three elements: 'DS', 'ML', and 'Python'. The elements are enclosed within square brackets, and each element is a string.

(4) var4 = 1: This variable var4 is an integer that has the value 1. It is a numerical value and can be used for mathematical operations or comparisons.

In [ ]:
#Q3.

(1) Division Operator 
a = 10
b = 3
result = a / b
print(result)
output = 3.3333333333333335

(2) Modulo Operator
a = 10
b = 3
remainder = a % b
print(remainder)
Output: 1

(3) Floor Division Operator
a = 10
b = 3
result = a // b
print(result)
Output: 3

(4) Exponentiation Operator
a = 2
b = 3
result = a ** b
print(result)  
Output: 8

In [4]:
#Q4.

list = [42, 'Hello', 3.14, True, [1, 2, 3], {'name': 'John', 'age': 30}, None, ('apple', 'banana'), 5 + 2j, False]

for item in list:
    print(item, type(item))

42 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
{'name': 'John', 'age': 30} <class 'dict'>
None <class 'NoneType'>
('apple', 'banana') <class 'tuple'>
(5+2j) <class 'complex'>
False <class 'bool'>

In [5]:
#Q5.

def count_divisions(A, B):
    count = 0

    while A % B == 0:
        count += 1
        A /= B

    return count

# Example usage
A = 36
B = 6
divisions = count_divisions(A, B)
print(f"Number A is divisible by number B {divisions} times.")

Number A is divisible by number B 2 times.

In [6]:
#Q6.

numbers = [17, 9, 4, 33, 10, 21, 30, 2, 27, 8, 14, 19, 1, 36, 7, 15, 11, 13, 5, 22, 12, 3, 16, 31, 25]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

17 is not divisible by 3
9 is divisible by 3
4 is not divisible by 3
33 is divisible by 3
10 is not divisible by 3
21 is divisible by 3
30 is divisible by 3
2 is not divisible by 3
27 is divisible by 3
8 is not divisible by 3
14 is not divisible by 3
19 is not divisible by 3
1 is not divisible by 3
36 is divisible by 3
7 is not divisible by 3
15 is divisible by 3
11 is not divisible by 3
13 is not divisible by 3
5 is not divisible by 3
22 is not divisible by 3
12 is divisible by 3
3 is divisible by 3
16 is not divisible by 3
31 is not divisible by 3
25 is not divisible by 3

In [ ]:
#Q7.

Immutable data types:
Immutable data types are those whose values cannot be modified once they are created. Any operation that appears to modify an immutable object actually creates a new object with the desired changes. Examples of immutable data types include:

    Strings: In many programming languages, strings are immutable. Once a string object is created, its value cannot be changed. For example:
message = "Hello"
new_message = message + " World"
print(new_message)  Output: Hello World
print(message)  Output: Hello




Mutable data types:
Mutable data types are those whose values can be modified after they are created. Changes made to a mutable object directly modify the object itself, without creating a new object. Examples of mutable data types include:
   
     Lists: Lists are commonly used mutable data types. Elements can be added, removed, or modified within a list. For example:
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)   Output: [1, 2, 3, 4]
numbers[1] = 5
print(numbers)   Output: [1, 5, 3, 4]